<!doctype html>
	<html lang="pt-br">
		<head>
			<% if (htmlWebpackPlugin.options.isProd) { %>
				<@- seoConfig @>
			<% } %>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
	</head>
	<body class="<%= htmlWebpackPlugin.options.currentFont %>">
		<div id="react-view"><div><% if (htmlWebpackPlugin.options.isProd) { %><@- markup @><% } %></div></div>
		<% if (htmlWebpackPlugin.options.isProd) { %><script>window.__STATE__ = <@- currentState @></script><% } %>
	</body>
</html>
