.loans-wrapper {
	margin: 40px auto;
	max-width: 600px;
	padding: 40px;

	> .title {
		line-height: 1.2;
		margin-bottom: 30px;
	}

	.subtitle {
		line-height: 1;
		font-weight: 400;
		margin-bottom: 30px;
	}

	.field {
		background-color: #fff;
		border: 1px solid transparent;
		display: flex;
		padding: 0 20px;

		> label {
			display: block;
			margin-bottom: 10px;
		}

		.input-wrapper {
			flex-basis: 70%;
			max-width: @flex-basis;
			padding: 20px;
		}

		.button {
			flex-basis: 30%;
			max-width: @flex-basis;
		}

		.input {
			background: transparent;
			border: none;
			color: $color.green;
			display: inline-block;
			font-size: 34px;
			font-weight: 700;
			text-align: left;
			transition: border .3s ease;
			max-width: 100%;
			padding-left: 38px;
		}

		&.value {
			position: relative;

			&::before {
				content: 'R$';
				color: $color.green;
				display: inline-block;
				margin-right: 10px;
				position: absolute;
				left: 26px;
				bottom: @left;
				font-size: 14px;
				line-height: 19px;
				font-weight: 700
			}
		}
	}

	.button {
		border: none;
    font-weight: 700;
    max-width: 220px;
    padding: 0 20px;
    position: relative;
    transition: background .3s, color .3s,border .3s;
		text-align: left;
		outline: none;

		&:hover::before {
			transform: translateX(4px) rotate(-45deg);
		}

		&:hover::after {
			transform: translateX(3px);
		}

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			right: 20px;
			transition: transform .3s ease;
		}

		&::before {
    	transform: rotate(-45deg);
			border: 2px solid;
			width: 8px;
			height: 8px;
			content: "";
			margin-top: -4px;
			border-radius: 2px;
			border-top: none;
			border-left: none;
		}

		&::after {
			height: 2px;
			width: 14px;
			background-color: currentColor;
			content: "";
			margin-top: -1px;
			border-radius: 2px;
		}
	}

	.options {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.single-option {
		align-items: center;
		margin-bottom: 4%;
		width: 48%;

		a {
			background-color: #fff;
			color: $color.darkGray;
			display: block;
			padding: 20px;
			text-align: center;
			transition: all .3s ease;

			&:hover {
				transform: translateY(-2px);
				box-shadow: 0 7px 14px rgba(50,50,93,.06);
			}
		}
	}

	.results {
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
	}

	.single-result {
		flex-basis: calc(50% - 20px);
		margin-top: 20px;
		padding: 20px;
		background-color: #fff;
		color: #666;
		border-radius: 5px;
		-webkit-appearance: none;
		border: unset;
		text-align: left;
		transition: all .3s ease;
		will-change: background;
		outline: none;

		&:nth-child(even) {
			margin-left: 20px;
		}

		.result {
			margin-top: 16px;

			.label {
				font-weight: 400;
    		font-size: .84rem;
			}

			.value {
				margin-top: 2px;
				font-weight: 700;
				font-size: 1.14rem;
			}
		}

		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 7px 14px rgba(50,50,93,.06);
		}

		&.-active {
			transform: translateY(-3px);
			background-color: #f49745;
			color: #fff;
			box-shadow:
				0 3px 16px rgba(239,162,72,.4),
				0 3px 16px rgba(244,107,69,.1);
		}

		.icon {
			font-size: 1.6rem;
			color: #bbc2ce;
			position: relative;
			display: inline-block;
			margin-left: 9px;

			&::before {
				content: "#";
				font-size: 2rem;
				color: #d4dcdf;
				left: -8px;
				top: -6px;
				position: absolute;
				opacity: .4;
			}
		}
	}
}
