// -------------------------
// Variables
// -------------------------

@lost flexbox flex;
@lost gutter 40px;

$breakpoint = 800px
$breakpoint-tablet = 1024px

$base-font-size = 16px;

rupture.scale = 0 500px 700px 1024px 1366px 1920px;
rupture.scale-names = 'xs' 'sm' 'm' 'l' 'xl' 'hd';
rupture.mobile-cutoff = 600px;
rupture.desktop-cutoff = 980px;
rupture.anti-overlap = -1px;

// Container
$container-width = 900px;

// Base font size
$base-font-size = 16px;

// Font weight variants
$fwNormal = 400;
$fwBold = 700;

// Base Font Family
$base-font-family = 'Poppins', sans-serif;

// Colors
$color = {
	blue: #2980b9,
	green: #197180,
	gray: #eff3f9
}
